<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="title d-flex justify-content-center">
      <span>Contact</span>
    </div>
    <div class="topcontent"></div>
    <div class="container mb-3">
      <div class="container"></div>
    </div>
  </body>
  <!-- footer -->
  <%- include('../partials/footer') %>
</html>
