<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="topcontent"></div>
    <div class="container mb-3">
      <div class="container"></div>
    </div>
  </body>
</html>
