<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="topcontent d-flex">
      <span class="align-bottom">Gallery</span>
    </div>
    <div class="container mb-3"></div>
  </body>
</html>
