<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="container">
        <h1>Photo</h1>
        <P>제 웹사이트를 방문11해 주셔서 감사합니다!</P>
      </div>
    </div>
  </body>
</html>
